on:
  pull_request:
    branches: main
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

name: RCMD Check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: R CMD Check (${{ matrix.config.os }} (${{ matrix.config.r }}))

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-20.04, r: 'release', rspm: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v1
        id: install-r
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}

      - uses: r-lib/actions/setup-pandoc@v1

      - name: Install pak and query dependencies
        run: |
          install.packages("pak", repos = "https://r-lib.github.io/p/pak/dev/")
          saveRDS(pak::pkg_deps("local::.", dependencies = TRUE), ".github/r-depends.rds")
        shell: Rscript {0}

      - name: Restore R package cache
        uses: actions/cache@v2
        with:
          path: |
            ${{ env.R_LIBS_USER }}/*
            !${{ env.R_LIBS_USER }}/pak
          key: ${{ matrix.config.os }}-${{ steps.install-r.outputs.installed-r-version }}-1-${{ hashFiles('.github/r-depends.rds') }}
          restore-keys: ${{ matrix.config.os }}-${{ steps.install-r.outputs.installed-r-version }}-1-

      - name: Install system dependencies
        if: runner.os == 'Linux'
        run: |
          pak::local_system_requirements(execute = TRUE)
          pak::pkg_system_requirements("rcmdcheck", execute = TRUE)
        shell: Rscript {0}

      - name: Install dependencies
        run: |
          pak::local_install_dev_deps(upgrade = TRUE)
          pak::pkg_install("rcmdcheck")
        shell: Rscript {0}

      - name: Install catboost
        run: |
          if (!requireNamespace("jsonlite", quietly = TRUE) && install_required) {
            utils::install.packages("jsonlite", repos = "https://cloud.r-project.org")
          }
          if (!requireNamespace("remotes", quietly = TRUE) && install_required) {
            utils::install.packages("remotes", repos = "https://cloud.r-project.org")
          }
          if (!requireNamespace("curl", quietly = TRUE) && install_required) {
            utils::install.packages("curl", repos = "https://cloud.r-project.org")
          }
          version = jsonlite::fromJSON(
            "https://api.github.com/repos/catboost/catboost/releases"
          )$tag_name[1]
          url = sprintf(
            "https://github.com/catboost/catboost/releases/download/v%s/catboost-R-Linux-%s.tgz",
            version, version
          )
          remotes::install_url(url, INSTALL_opts = "--no-multiarch")
        shell: Rscript {0}

      - name: Install Python
        run: |
          pak::pkg_install('rstudio/reticulate')
          reticulate::install_miniconda()
          install.packages('keras')
          keras::install_keras(extra_packages = c('IPython', 'requests', 'certifi', 'urllib3', 'tensorflow-hub', 'tabnet'))
          reticulate::py_install(c('torch', 'pycox'), pip = TRUE)
        shell: Rscript {0}

      - name: Session info
        run: |
          options(width = 100)
          pkgs = installed.packages()[, "Package"]
          sessioninfo::session_info(pkgs, include_base = TRUE)
        shell: Rscript {0}

      - name: Check
        env:
          _R_CHECK_CRAN_INCOMING_: false
        run: |
          options(crayon.enabled = TRUE)
          rcmdcheck::rcmdcheck(args = c("--no-manual", "--as-cran"), error_on = "error", check_dir = "check")
        shell: Rscript {0}

      - name: Show testthat output
        if: always()
        run: find check -name 'testthat.Rout*' -exec cat '{}' \; || true
        shell: bash

      - name: Upload check results
        if: always()
        uses: actions/upload-artifact@main
        with:
          name: ${{ runner.os }}-r${{ matrix.config.r }}-results
          path: check

      - name: Update learner table
        if: ${{ github.event_name == 'pull_request' && success() }}
        run: |
          R CMD INSTALL .
          Rscript build_learner_table.R

      - name: Commit changes
        if: ${{ github.event_name == 'pull_request' && success() }}
        uses: EndBug/add-and-commit@v7
        with:
          author_name: github-actions
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          message: 'Update learner table'
          add: 'R/sysdata.rda'
