# r cmd check workflow of the mlr3 ecosystem v0.3.1
# https://github.com/mlr-org/actions
on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled'
        required: false
        default: false
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron:  '0 4 * * 1'

name: RCMD Check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: RCMD Check (${{ matrix.config.os }} (${{ matrix.config.r }}))

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest, r: 'release'}
          - {os: ubuntu-latest, r: 'devel'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
        with:
          limit-access-to-actor: true

      - name: Install Python packages
        run: |
          pak::pkg_install('reticulate')
          reticulate::install_miniconda(force = TRUE)
          reticulate::use_condaenv('r-reticulate')
          install.packages('keras')
          reticulate::py_install("pytorch-cpu")
          reticulate::py_install("tensorflow-cpu", pip = TRUE)
          survivalmodels::install_pycox(pip = TRUE, install_torch = FALSE)
          survivalmodels::install_keras(pip = TRUE, install_tensorflow = FALSE)
        shell: Rscript {0}

      - uses: r-lib/actions/check-r-package@v2
